.heading{
  margin-bottom: 10px;
  display: inline-block;
  font-size: 32px;
  color: rgb(23, 29, 36);
}
.subheading{
  margin-bottom: 10px;
  display: inline-block;
  font-size: 24px;
  color: rgb(23, 29, 36);
}